@import '~styles/variables';

@mixin input {
  display: block;
  height: $input-height;
  padding: 0 $spacing-sm;
  border: 1px solid $color-black;
  border-radius: $border-radius;
  background-color: $color-white;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-base;

  &:focus {
    box-shadow: 0 0 2px 2px $color-main;
    border-color: $color-main;
    outline: none;
  }

  & + label {
    margin-left: $spacing-sm;
  }
}

@mixin inputLabel {
  display: inline-block;
  float: left;
  color: $color-white;

  & + input,
  & + select {
    margin-left: $spacing-sm;
  }
}

@mixin inputWrapper {
  display: flex;
  align-items: center;
}
