@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-base;
}
