$header-height: 80px;

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;

$color-main: #f09f3c;
$color-black: #000;
$color-white: #fff;
$color-lightgrey: #f0f3f7;
$color-mediumgrey: #c7c7c7;
$color-darkgrey: #5e5e5e;

$breakpoint-phone: 540px;
$breakpoint-tablet: 768px;

$font-size-base: 16px;
$font-size-h1: 32px;
$font-size-h2: 24px;

$transition: 0.2s ease-in;

$border-radius: 3px;

$input-height: 35px;
