@import '~styles/variables';

button {
  height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: $spacing-sm/2 $spacing-sm;
  border: none;
  border-radius: $border-radius;
  font-size: $font-size-base;
  transition: $transition;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.75);
  }

  &:disabled {
    background-color: $color-darkgrey;
    cursor: not-allowed;
  }
}

.primary {
  background-color: $color-main;
  color: $color-white;
}

.secondary {
  background-color: $color-white;
  color: $color-black;
}
