@import '~styles/variables';
@import '~styles/mixins';

.checkbox {
  @include inputWrapper;

  input {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: $input-height;
    @include input;

    &:checked:after {
      content: '\2714';
      position: absolute;
      top: -6px;
      left: 4px;
      color: $color-main;
      font-size: $font-size-h1;
    }
  }

  label {
    @include inputLabel;
  }
}
