@import '~styles/variables';
@import '~styles/mixins';

.gallery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $spacing-md;
  padding-top: $header-height + $spacing-md;
  background-color: $color-lightgrey;

  @media screen and (max-width: $breakpoint-phone) {
    padding-top: $spacing-md;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: $spacing-sm;
    justify-content: center;

    .img {
      position: relative;
      height: 300px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: $border-radius;

      * {
        visibility: hidden;
      }

      &:hover {
        -webkit-box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.75);
        cursor: pointer;

        .credits,
        .credits * {
          visibility: visible;
        }

        .credits {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: $spacing-xs;
          text-align: center;
          background-color: $color-white;
          -webkit-box-shadow: 0px -8px 17px -10px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px -8px 17px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -8px 17px -10px rgba(0, 0, 0, 0.75);

          a {
            display: inline-block;
            text-decoration: underline;
            color: $color-black;
          }
        }
      }
    }

    .selected {
      border: 5px solid $color-main;
    }
  }

  button {
    margin: $spacing-md auto 0 auto;
  }
}
