@import '~styles/variables';
@import '~styles/mixins';

.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: $spacing-md $spacing-xs 0;
  background-color: $color-darkgrey;

  @media screen and (max-width: $breakpoint-tablet) {
    padding-top: $spacing-sm;
  }

  img {
    max-height: 70%;
  }

  .puzzle {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: 1px solid $color-mediumgrey;

    div {
      width: 100px;
      height: 100px;
      border: 1px solid $color-mediumgrey;
      background-color: rgba(94, 94, 94, 0.9);
      cursor: default;
    }

    .solved {
      background-color: transparent;
    }

    .completed {
      background-color: transparent;
      border: none;
      cursor: auto;
    }

    & + button {
      margin-top: $spacing-md;
    }
  }

  .pieces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: $spacing-md;
    padding-bottom: $spacing-lg;

    div {
      width: 100px;
      height: 100px;
      margin: 0 $spacing-sm $spacing-sm 0;
      cursor: move;
    }
  }

  p {
    padding-bottom: $spacing-sm;
    font-size: $font-size-h2;
    color: $color-white;
  }
}
