@import '~styles/variables';
@import '~styles/mixins';

.gameBoard {
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding-top: $spacing-lg;
  background-color: $color-darkgrey;

  .pieces div {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 1;
    cursor: grab;
  }
}
