@import '~styles/variables';
@import '~styles/mixins';

header {
  position: fixed;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $spacing-sm $spacing-md;
  background-color: $color-black;
  overflow: hidden;
  z-index: 2;

  div:first-child {
    margin-right: auto;
  }

  > *:not(:first-child) {
    margin-left: $spacing-md;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    button {
      position: fixed;
      bottom: $spacing-xs;
      right: $spacing-xs;
      z-index: 1;
    }
  }

  @media screen and (max-width: $breakpoint-phone) {
    position: static;
    height: auto;
    flex-direction: column;

    & > * {
      margin-left: 0 !important;

      &:not(button) {
        width: 100%;
        margin-bottom: $spacing-sm;
      }
    }
  }
}
