@import '~styles/variables';
@import '~styles/mixins';

header {
  position: fixed;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $spacing-sm $spacing-md;
  background-color: $color-black;
  overflow: hidden;
  z-index: 2;

  input:first-of-type {
    margin-right: auto;
  }
}
